/* this application of variables to the global pseudo-class ":root" will target the top-most parent element */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

/* universal selector '*' aka 'wild-card' 
used to over-ride some default browser elements */
* {
    margin: 0;
    padding: 0;
    /* this is telling the browser to ignore padding
    in overall width, to help address issue brought in the footer
    re 100% width plus 35px padding */
    box-sizing: border-box;
}

/* applies color and font to whole page */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    /* the application of flexbox will make the <header> (parent element) a row and control the distribution of its content (child elements) on either a horizontal or vertical axis to facilitate dynamic re-sizing; flexbox over-rides block-level behavior */
    display: flex;
    /* the following property applies only to elements using 'flex' or 'grid' values and controls how space is distributed between child elements */
    justify-content: space-between;
    /* following property controls the flow of elements on the x-axis "main axis" of the flexbox container */
    flex-wrap: wrap;
    /* the following declarations will create a "sticky" header that remains at the top as one scrolls down the page; this feature is currently being tested in Safari, which is the reason for the first position property with Safari's vendor prefix "webkit". Also note this feature is not currently supported  at all in Internet Explorer. */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* the following declarations can also be found in the .hero rule; the 'background-attachment: fixed' declaration has also been added to both rules to place the image relative to the viewport rather than the respective elements so that the two applications of the single image can be in visual alignment */
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
        /* the following declaration will bring the stack order of the header to the top */
        z-index: 9999;
}

/* apply specific style to h1 in header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /* the following declaration asserts shadows and transparency */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #fce138;    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* following property controls the flow of elements on the y-axis "cross axis" of the flexbox container */
    align-items: center;
    /* following property controlls style and positioning of list items */
    list-style: none;
}

header nav ul li a {
    PADDING: 10px 15px;
    font-weight: lighter;
    /* the following property value uses the "viewport width" unit of measurement, which is a relative measurement of fontsize to total window width, as a percentage */
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* hover effects */
header nav ul li a:hover {
    background: #fce138;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* the "." notation indicates class as our CSS selector. Note also, we are using
    the relative URL path to select the background image. */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    /* the default value for the below property is 'stretch' which sets all flex children to the height of the tallest one */
    align-items: flex-start;
}

/* the following attributes could be used successfully to override those in the above .hero, however, for the sake of demonstrating a different option, we will be creating a seperate stylesheet.
.hero-secondary {
    background-color: black;
    color: red;
} */

.hero-cta {
    width: 40%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
    color: #024e76;
    background-color: rgba(252, 225, 56, 0.8);
    padding: 20px;
    /* shorthand property to allow border style, width and color all in one line, 
        which would otherwise be denoted individually as "border-style" "border-width"
        and "border-color" */
    border: solid 3px #024e76;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: solid 1px c#024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    /* adds transparency to the form inputs */
    background-color: rgba(255, 255, 255, 0.75);
}

/* removes form transparency when the inputs are in focus */
.form-input:focus {
    background-color: rgba(255,255,255, 1);
    /* some browsers add a default outline to the input field; the following declaration will eliminate such a conflict with styling previously added */
    outline: none;
}

.hero-form label {
    margin: 0 5px;
}

/* making the default checkbox/radio buttons invisible */
.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

/* the following two rules will tie the created CSS pseudo-code to the behavior of the default buttons; when default buttons are in their default state, they will have no pseudo content but as soon as an input is checked, the pseudocode content and all styles become visible */
.checkbox-wrapper input + label::after,
.radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after,
.radio-wrapper input:checked + label::after {
    content: "";
}

/* prepping label elements to hold custom checkbox/radio buttons */
.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

/* the '::before' pseudo-element allows content to be added to an element using CSS, placing this content before everything else in the element */
.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

/* the following two pseudo-elements will define what the checkbox and radio buttons look like when checked */
.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), #024276);
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.hero-form button {
    background-color: #024e76;
    color: #fce138;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

/* hover effect */
.hero-form button:hover {
    background-color: #39a6b2;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    text-align: center;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* margin attribute is added here in order to resolve the off-set centering of text brought about by
        the 80% block element; 'auto' will tell the browser to calculate the margins, making them roughly even. 
        This works only for horizontally applied 'auto' - will not work on the vertical. */
}

.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    /* the following value produces an in-line element, padding and similar attricutes behave as they would with block.*/
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-bottom-color: #fce138;
}

.secondary-border {
    border-bottom-color: #39a6b2;
}

.steps {
    background: #fce138;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* the 'flex' property helps define a similar size for children, independent of text content, and can include 3 values: 'flex-grow' (determines how much of the unused space will be distributed to its children), 'flex-shrink' (determines how to size children when container shrinks) and 'flex-basis' (a baseline minimum value for the children); the following applications of 'flex' includes values for 'flex-grow' and 'flex-basis' */
.step h3 {
    color: #024e76;
    font-size: 46px;
    /* 'flex' for the following ensures the selector will be >= 30% wide and take any extra space*/
    flex: 1 30%
}

/* 'flex' for the following ensures the selector will be >= 70% wide and will receive extra container space at twice the size of a sibling with a 'flex-grow' value of 1 */
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*  since the other siblings within this <div> have flexbox width attributes, the img child also needs to have flexbox attributes, or it will not show up because the browser does not know what space to give to it */
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

/* this rule will limit the size of the image to the size of its container which can be a problem with browsers running on Microsoft Edge. */
.step-img img {
    max-width: 100%;
}

/* when 'flex-basis' property is excluded from 'flex' it is given a value of 'auto' meaning it is given any remaining space */
.step-text {
    flex: 12;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76
}

/* the following pseudo-code applies its rule to all but the very last element in this container */
.step:not(:last-child) {
    border-bottom: 1px solid #39a6b2;
}

.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer {
    flex: 1;
    margin: 20px;
    background: #024e76;
    color: #fce138;
}

.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}

.trainer-bio h3 {
    font-size: 28px;
    display: none;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
    display: none;
}

.trainer-bio p {
    font-size: 17px;
}

.trainer-img {
    width:100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    overflow: hidden;
}

/* the following two rules determine the animation transition and end-points */
.trainer-img h3 {
    font-size: 28px;
    margin-bottom: 5px;
    position: relative;
    z-index: 750;
    top: 200px;
    transition: 0.7s;
}

.trainer-img h4 {
    font-size: 22px;
    position: relative;
    z-index: 500;
    top: 200px;
    transition: 0.7s;
}

.trainer-1 {
    background-image: url("../images/trainer-1.jpg");
    position: relative;
}

.trainer-2 {
    background-image: url("../images/trainer-2.jpg");
    position: relative;
}

.trainer-3 {
    background-image: url("../images/trainer-3.jpg");
    position: relative;
}

/* this pseudo-element is absolutely positioned in the top left corner, sized to cover entire container */
.trainer-img::after {
    content: "";
    height: 100%;
    width: 100%;
    /* the following declaration puts a semi-transparent gradient over the top of the card images */
    background: linear-gradient(rgba(252, 225, 56, 0.3), rgba(2, 78, 118, 1.0));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.trainer:hover .trainer-img::after {
    opacity: 1;
}

.trainer:hover .trainer-img h3, .trainer:hover .trainer-img h4 {
    opacity: 1;
    top: 0px;
    /* transform: translate(-200px); */
}

.trainer:hover .trainer-img h4 {
    transition-delay: 125ms;
}

.services {
    background: #fce138;
}

.service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.service-grid-container {
    background: lightyellow;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 4fr);
    grid-template-rows: repeat(5, 1fr) 2fr;
    border: 2px solid #024e76;
    color: #024e76;
    font-size: 1.2rem;
}

.service-grid-item {
    padding: 15px 0;
    border: 2px solid #024e76;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* this selector targets elements that have both classes 'service-grid-item' and 'basic' */
.service-grid-item.basic {
    grid-column: 2 / span 1;
}

.service-grid-item.both {
    grid-column: 2 / span 2;
}

.service-grid-item.cancel {
    writing-mode: vertical-lr;
    grid-column: 1;
    grid-row: 1 / -1;
    transform: rotate(180deg);
}

.grid-head, .grid-price, .service-grid-item.cancel {
    font-size: 1.5rem;
    font-weight: bold;
}
.contact {
    background-color: #024e76;
    margin-bottom: 3px solid #39a6b2;
}

.contact h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* the following '>*' syntax indicates to select all elements that are direct children of anything with a class of 'contact-info' */
.contact-info > * {
    flex: 1;
    margin: 15px;
}

/* By using a "class selector" here, instead of a "type selector" (which is what we would have it we targeted only 
    the iframe) we avoid a situation where styling is being applied to unintended targets, should additional iframes
    be used on other pages referenced by this style sheet. */
.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

/* the following rules target two different elements. */
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: #fce138;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    /* adding transparency to input fields */
    background-color: rgba(255, 255, 255, 0.75)
}

/* removing transparency when form fields are in focus and removing any border conflicts due to default browser settings */
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1.0);
    border:none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

/* hover effects */
.contact-form button:hover {
    color: #fce138;
    background: #39a6b2;
}

/* The following two classes are referred to as "utility classes" because they are not specific to any part of the HTML doc and they do only one thing; they can in this case be applied anywhere on the page needing a text-align fix.*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* flexbox properties are being added to affect elements within the "What We Do" section; though this is a single-column section and most changes will not have an obvious impact, added flexbox functionality will nevertheless enable handling of 'justify' and 'align' properties easier across multiple screen sizes */
.flex-row {
    display: flex;
}

/* it is important to put media queries at the end of the stylesheet and (because we are using 'max-width') in descending order in term of size for the desired affects to display properly on all screens */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        /* this declaration will undo the header stickiness for small screens */
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    /* adjustments impacting What We Do/What You Do sections to make wider on small screens */
    .section-title {
        width: 80%
    }

    /* just wide enough for each card to be on its own line */
    .trainer {
        flex: 0 70%;
    }

    /* making sure the Google map is on its own line */
    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS */
/* changes promarily for the What You Do section to stack the children instead of presenting side-by-side and provide more room horizontally */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    /* limiting the size of the images using flex-basis of 32% */
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

    .trainer-img h3, .trainer-img h4, .trainer-img::after {
        display: none;
    }

    .trainer-bio h3 {
        display: inline;
    }

    .trainer-bio h4 {
        display: inline;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES */
/* similar, minor adjustments primarily impacting widths */
@media screen and (max-width: 575px) {
    /* increasing 'submit' button width to make it easier to use on mobile device */
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%
    }

    /* the order property is used to switch the order of the map and the contact form */
    .contact-form {
        order: 3;
    }
}