/* universal selector '*' aka 'wild-card' 
used to over-ride some default browser elements */
* {
    margin: 0;
    padding: 0;
    /* this is telling the browser to ignore padding
    in overall width, to help address issue brought in the footer
    re 100% width plus 35px padding */
    box-sizing: border-box;
}

/* applies color and font to whole page */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply specific style to h1 in header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;    
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* the "." notation indicates class as our CSS selector. Note also, we are using
    the relative URL path to select the background image. */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    /* shorthand property to allow border style, width and color all in one line, 
        which would otherwise be denoted individually as "border-style" "border-width"
        and "border-color" */
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;  
}